{% extends "partials/base2.html" %}
{%load static%}

{% block content %}

<div class="container">
    <div class="container flex justify-center items-center">
        <img src="{% static 'images/EXL.svg' %}" alt="logo" class="w-30">

    </div>
    <h1 class="text-2xl font-bold">
        Login
    </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col space-y-3">
                {{ field.label_tag }}
                {{ field }}
                <br>
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="flex w-full">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>


{%endblock%}